@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(rgb(31, 41, 55), black);
    background-attachment: fixed;
}

a {
    text-decoration: underline;
}

